@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Inter:wght@400&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0C0C0F;
  color: #EAEAEA;
  letter-spacing: 0.5px;
  background: #0C0C0F radial-gradient(circle at top left, rgba(150,90,255,0.15), transparent 70%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
  color: #A9B4C2;
}

p {
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
